version: '{build}'
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
  - develop
  - release/*
  - hotfix/*
skip_tags: true
shallow_clone: true
environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  VERSION_INFO_SEMVER: null
  VERSION_INFO: null
install:
- ps: >-
    $version_info = (gitversion /output json | ConvertFrom-Json)

    $env:VERSION_INFO = $version_info

    $env:VERSION_INFO_SEMVER = $version_info.SemVer


    Update-AppveyorBuild -Version "$env:VERSION_INFO_SEMVER-$env:APPVEYOR_BUILD_NUMBER"


    Write-Host "Set VERSION_INFO_SEMVER = " $env:VERSION_INFO_SEMVER

    Write-Host "Set APPVEYOR_BUILD_VERSION = " $env:APPVEYOR_BUILD_VERSION
nuget:
  project_feed: true
  disable_publish_on_pr: true
build_script:
- ps: .\build.ps1
test: off
artifacts:
- path: .\artifacts\*.nupkg
  name: NuGet
- path: .\test-results\*.xml
  name: Xunit
deploy:
- provider: GitHub
  tag: ${VERSION_INFO_SEMVER}
  release: v${VERSION_INFO_SEMVER}
  auth_token:
    secure: JGXCP5ogwbyjc0iZqs8i6O/Znx87GbpVFF/Om9OAW9/6fNpygIspgaUDtnAWx1jD
  artifact: nothing
  draft: true
  on:
    branch: master
- provider: NuGet
  api_key:
    secure: p3Sk0hJZF4uia94ka0L+0VY4VXB2CP188Rq0kky1/ZHvaHacb4LaXxEG7crELBxe
  skip_symbols: true
  artifact: NuGet
  on:
    branch: master
